<mat-spinner *ngIf="isLoading$ | async" class="spinner" diameter="100"></mat-spinner>
<ng-container *ngIf="users$ | async as users">
  <div style="display: flex; gap: 10px">
    <div *ngFor="let user of users">
      {{user.name.firstname}}
    </div>
  </div>
</ng-container>


<hr>

<ng-container *ngIf="isUserLogIn$ | async; else pleaseLogIn">
  <app-categories *ngIf="{categories: categories$ | async} as vm"
                  [categories]="vm.categories"
                  (selected)="getProducts($event)"></app-categories>
</ng-container>

<ng-template #pleaseLogIn>
  <button (click)="onLogin()">Login</button>
  <hr>
  Please login to see categories
</ng-template>
